article {
    .row--slim {
        .wp-block-group__inner-container {
            p, ul, .rocketpager-videoelement {
                margin-bottom: 30px;
                @include breakpoint(large) {
                    margin-bottom: 40px;
                }
            }
            p, ul, ul li, .rocketpager-videoelement, .rocketpager-colorbox {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            ul li:before {
                content: $icon-check-circle;
            }
            .content-slider ul li:before {
                display: none;
            }
            // ul.newest-posts {
            //     li {
            //         &:before {
            //             content: "\F0A9";
            //         }
            //         a {
            //             text-decoration: none;
            //         }
            //     }
            // }
        }
    }
    /* Share on */
    .share-on {
        h2 {
            display: none;
            @include breakpoint(medium) {
                display: block;
            }
            margin-bottom: 0;
        }
        .wp-block-group.alignwide {
            @extend %padding-xlarge-tb !optional;
        }
        ul.nav-icons {
            margin-left: 40px;
            li {
                margin-bottom: 0;
                margin-right: 15px;
                font-size: 10px;
                padding-left: 0;
                a {
                    padding: 0;
                    color: $color-primary;
                    text-decoration: none;
                    border-bottom: none;
                    i{
                        margin: 0;
                        @include breakpoint(medium down) {
                            font-size: 40px;
                        }
                    }
                    &:hover {
                        color: $color-black;
                        border-bottom: none;
                    }
                }
                &:before {
                    display: none;
                }
            }
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /* Kontaktperson */
    .rocketpager-team{
        .team-member {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            @include breakpoint(medium) {
              margin-bottom: 30px;
            }
            @include breakpoint(large) {
              margin-bottom: 40px;
            }
        }
    }
}