// Listview Stil 1
// ul {
//   &.wp-block-latest-posts {
//     margin-left: 0;

//     @include breakpoint(large) {
//       margin-left: -15px;
//       margin-right: -15px;
//     }

//     .wp-block-latest-posts__featured-image {
//       img {
//         margin-bottom: 0;
//       }
//     }

//     li,
//     li a,
//     .wp-block-latest-posts__post-excerpt {
//       background-color: $color-white;
//     }

//     li {
//       text-align: center;

//       a {
//         display: block;
//         padding: 20px 20px 0 20px;
//         margin-bottom: 20px;

//         @include breakpoint(medium) {
//           padding: 30px 30px 0 30px;
//           margin-bottom: 30px;
//         }

//         @include breakpoint(large) {
//           padding: 40px 40px 0 40px;
//           margin-bottom: 40px;
//         }
//       }

//       .wp-block-latest-posts__post-excerpt {
//         margin: 0;
//         padding: 0 20px 20px 20px;

//         @include breakpoint(medium) {
//           padding: 0 30px 30px 30px;
//         }

//         @include breakpoint(large) {
//           padding: 0 40px 40px 40px;
//         }

//         font-weight: 400;
//       }
//     }

//     &.slick-initialized .slick-slide {
//       padding: 0 15px;
//     }
//   }
// }

// Listview Stil 2
ul.newest-posts {
    li {
        &:before {
            content: "\F0A9";
        }
        a {
            text-decoration: none;
        }
    }
}

// Listview Stil 3
.box {
  p {
    &.box-title {
      margin-bottom: 0;
    }
  }

  .box-itemwrapper {
    margin-bottom: 30px;

    @include breakpoint(medium) {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(medium only) {
      &:nth-last-of-type(-n+2) {
        margin-bottom: 0;
      }
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .border-b {
      padding-bottom: 20px;

      @include breakpoint(medium) {
        padding-bottom: 30px;
      }
    }

    .img-hover-zoom {
      width: 100%;
      padding-top: 75%;
      position: relative;
      overflow: hidden;
      margin-bottom: 15px;

      @include breakpoint(medium) {
        margin-bottom: 20px;
      }
    }

    .img-hover-zoom--quick-zoom img {
      transition: transform .5s ease;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      min-width: 100%;
    }

    .img-hover-zoom--quick-zoom:hover img {
      transform: scale(1.1);
    }
  }
}

// Single
body.single article {
  hr {
    margin-left: 0;
    margin-right: 0;
  }

  time.updated {
    @extend %font-size-small !optional;
  }
}

// Pagination
.page_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  .page-numbers {
    margin-right: 10px;
    background-color: $color-primary;
    padding: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: $color-white;

    &:hover {
      background-color: $color-secondary;
      color: $color-white;
    }

    &.current {
      background-color: $color-white;
      color: $color-font;
    }
  }

  a.prev.page-numbers,
  a.next.page-numbers {
    background-color: inherit;
    display: inherit;
    width: inherit;
    height: inherit;
    line-height: inherit;
    text-align: inherit;
    color: inherit;

    &:hover {
      color: $color-secondary;
    }
  }
}

// Load More Button 
.ajax-load-more {
  .wp-block-group.alignwide {
    @extend %padding-large-tb !optional;
  }
  .wp-block-buttons, .wp-block-button {
    margin-bottom: 0;
  }
}
