@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=0C592069-4C90-48DD-8A75-5AD8FD1ECA4C

@rocket-gmbh:registry=https://gitlab.com/api/v4/packages/npm/
@rocket-gmbh-core:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=meVyftuYyHMNtCv_tgVS
//gitlab.com/api/v4/projects/:_authToken=meVyftuYyHMNtCv_tgVS