.reveal-video {
  padding: 0;

  .flex-video {
    margin-bottom: 0;
  }
}

.reveal {
  outline: 0;

  &.full {
    background-color: $color-primary;
    z-index: 9999;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $color-white;
      position: absolute;
      top: 50%;
      left: 0;
      transform-origin: center center;
      transition: background-color 0.2s ease-out;
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:before {
      transform: rotate(45deg);
    }
    &:focus {
      outline: none;
    }
    &:hover {

      &:before,
      &:after {
        background-color: rgba($color-white, 1);
      }
    }
  }
  .position-center {
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  
    .margin-auto {
      margin: auto;
    }
  }

  // Language Switcher
  &.languageSwitcher {
    @include breakpoint(small only) {
      top: 15%!important;
      right: inherit;
      bottom: inherit;
      left: inherit;
      width: inherit;
      max-width: 80%;
      height: inherit;
      min-height: inherit;
      margin-left: auto;
    }
    .close-button-2 {
      position: absolute;
      right: 15px;
      top: 15px;
      background-color: transparent;
      border: none;
      font-size: 20px;
      line-height: 1;
      &:focus {
        outline: none;
      }
    }
    .lang-switcher {
      padding-left: 30px;
      margin: 30px 20px;
      @include breakpoint(medium) {
        padding-left: 40px;
      }
      list-style-type: none;
      li {
        position: relative;
        margin-bottom: 10px;
        &.current-lang:before,
        &:before {
          position: absolute;
          @extend %fontawesome-icons-style-pro !optional;
          font-weight: 300;
          left: -30px;
          top: 4px;  
          content: $icon-circle-empty;
        }
        &.current-lang {
          &:before {
            font-weight: 900;
            content: $icon-circle-filled;
          }
        }
        a {
          color: $color-font;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
  // Language Switcher END
}
.searchform {
  .input-group {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: stretch;
  }
  .search-field, .button {
    @extend %font-size-paragraph !optional;
    color: $color-white;
    margin-bottom: 0;
  }
  .search-field  {
    background: transparent;
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 1px solid $color-white;
    margin-right: 20px;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: $color-white;
    }
  }
  .button {
    background-color: $color-white;
    @extend %font-size-paragraph !optional;
    color: $color-primary;
    margin-bottom: 0;
    border-color: $color-white;
    border-radius: 25px!important;
    padding: 10px 15px;
    &:hover {
      background-color: $color-font;
      color: $color-white;
      border-color: $color-font;
    }
  }
}
