.header {
  position: relative;
  z-index: 21;
  .header-top-wrapper {
    padding: rem-calc(10px) 0;
    .contact-list {
      @extend %list-navigation !optional;
      margin-left: 0;
      li {
        &:before {
          top: 0px;
          left: -9px;
        }
      }
    }
  }
  .header-navigation-wrapper {
    & > .grid-container {
      position: relative;
      z-index: 9;
      max-width: $global-width-header;
    }
    .logo-wrapper {
      animation-delay: 0.5s;
      .logo img, .logo svg{
        position: relative;
        text-align: center;
        height: $logo-height;
        padding: 0;
      }
    }
    &.fixed-header {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 10;
      transition: all 0.2s ease-in-out;

      .hide-for-fixed {
        display: none;
      }

      .border-t {
        border-top: none;
      }
    }
    .main-navigation {
      position: initial;
      height: $nav-min-height;
      > li {
        display: flex;
        flex-direction: row;
        align-items: center;
        // Subnavigation animieren
        > ul.sub-menu {
          // animation: rotateMenu 400ms ease-in-out forwards;
          // animation: downOut 400ms ease-in-out forwards;
          // animation: rotateY 400ms ease-in-out forwards;
          // animation: growDown 400ms ease-in-out forwards;
          animation: growOut 400ms ease-in-out forwards;
          transform-origin: top center;
        }
        a {
          @extend %navigation-font-style !optional;
          color: $color-font;
          @include breakpoint(large only) {
            padding: 0 6px;
          }
          padding: 0 $nav-padding-horizontal;
          &:hover {
            color: $color-primary;
          }
        }
        &.current_page_item > a, &.current-page-parent > a {
            color: $color-primary;
        }
        &.menu-item-has-children {
          position: initial;
          z-index: 1;
          &:hover {
            > ul.sub-menu {
              display: block;
            }
          }
          > ul.sub-menu {
            position: absolute;
            top: $nav-min-height;
            display: none;
            background-color: $color-white;
            padding: 0;
            margin-left: 0;
            list-style-type: none;
            border: 1px solid $color-grey-light;
            border-top: none;
            li {
              position: relative;
              &:after {
                position: absolute;
                bottom: 0;
                left: $nav-padding-horizontal;
                right: $nav-padding-horizontal;
                content: '';
                height: 1px;
                background-color: $color-grey-light;
              }
              &:last-child {
                &:after {
                  display: none;
                }
              }
              a {
                padding: $nav-padding-vertical 30px $nav-padding-vertical $nav-padding-horizontal;
              }
              &.current_page_item > a{
                color: $color-primary;
              }
            }
            > li.menu-item-has-children {
              position: relative;
              &:before {
                position: absolute;
                content: '\f054';
                margin-top: 14px;
                font-size: 80%;
                right: $nav-padding-horizontal;
                color: inherit;
                @extend %fontawesome-icons-style-pro !optional;
              }
              > ul.sub-menu {
                display: none;
                margin-left: initial;
                list-style-type: none;
                background-color: $color-grey-lighter;
                position: absolute;
                top: 0;
                left: 100%;
                width: 100%;
                border: 1px solid $color-grey-light;
                border-left: none;
                // Sub-Menu animiert
                // animation: rotateMenu 400ms ease-in-out forwards;
                // animation: downOut 400ms ease-in-out forwards;
                // animation: rotateY 400ms ease-in-out forwards;
                // animation: growDown 400ms ease-in-out forwards;
                animation: growDown 400ms ease-in-out forwards;
                transform-origin: top center;
              }
              &:hover > ul.sub-menu {
                display: block;
                min-width: max-content;
              } 
            }
          }
          // MEGA MENU START
          > .mega-menu-wrapper{
            position: absolute;
            left: 0;
            right: 0;
            top: $nav-min-height;
            display: none;
            &:before {
              position: absolute;
              left: -50vw;
              right: -50vw;
              height: 376px;
              @include breakpoint(xlarge) {
                height: 380px;
              }
              z-index: -1;
              content: '';
              background-color: rgba($color-primary, 0.96);
            }
            > ul.sub-menu {
              display: flex;
              flex-wrap: wrap;
              padding: 30px 60px 0 60px;
              @include breakpoint(xlarge) {
                padding: 60px 0 0 0;
              }
              li {
                &.current-menu-item > a {
                  color: $color-font;
                  font-weight: bold!important;
                }
                a {
                  @extend %subnavigation-font-style !optional;
                  padding: 0;
                }
                ul.sub-menu li a {
                  font-weight: 300;
                }
              }
            }
            > ul.sub-menu>* {
              flex: 1 1 50%;
              margin-bottom: 60px;
            }
          }
          &:hover  {
            > .mega-menu-wrapper {
              display: block;
            } 
          }
        }
        &.menu-item-has-children:hover > .mega-menu-wrapper > ul.sub-menu, &.menu-item-has-children > .mega-menu-wrapper > ul.sub-menu:hover{
            display: flex;
        }
        // MEGA MENU END
      }
      li {
        ul.sub-menu {
          margin-left: 0;
          list-style-type: none;
        }
      }
      // Language-Switcher Start
      > li.pll-parent-menu-item {
        .sub-menu > li {
          max-width: max-content;
          a {
            padding: $nav-padding-vertical $nav-padding-horizontal!important;
          }
        }
        @include navIcon;
        &:before {
          content: "\F0AC";
        }
      }
      // Language-Switcher END

    }

    // Language Switcher Reveal
    .langSwitcherReveal {
      padding: 25px 10px 0 10px;
      a {
        font-size: $language-nav-icon-size;
        &:hover {
          color: $color-primary;
        }
      }
    }
    // Language Switcher Reveal END

    // Headroom
    &.headroom {
      will-change: transform;
      transition: transform 0.2s linear;
    }
    &.headroom--pinned {
      &:not(.headroom--top) {
        position: fixed;
        top: 0;
        transform: translateY(0%);
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9999;
        will-change: transform;
      }
    }
    &.headroom--top {
      will-change: auto;
      position: static;
      top: 0;
      left: auto;
      right: auto;
      .not-sticky {
        // display: block;
        position: relative;
      }
      .sticky {
        display: none;
      }
    }
    &.headroom--unpinned {
      transform: translateY(-100%);
    }
    &.headroom--not-top {
      .not-sticky {
        display: none;
      }
      .sticky {
        display: block;
      }
      &:after {
        transition: background-color 0.3s ease-in-out;
        mix-blend-mode: none;
        background-color: $color-white;
      }
      .main-navigation {
        li {
          a {
            color: $color-white;
            &.underline-from-center:after {
              border-bottom: 3px solid $color-primary;
            }
            &:hover {
              color: $color-font;
            }
          }
          &.current_page_item > a, &.current-page-parent > a, &.pll-parent-menu-item:hover:before {
            color: $color-font;
          }
          &.pll-parent-menu-item:before {
            color: $color-white;
          }
          > ul.sub-menu li {
            &:first-child {
              margin-top: 3px;
            }
            a {
              color: $color-font;
              &:hover {
                color: $color-primary;
              }
            }
            &.current_page_item > a {
              color: $color-primary;
            }
          }
        }
      }
      .langSwitcherReveal a {
        color: $color-white;
        &:hover {
          color: $color-font;
        }
      }
      &:after {
        mix-blend-mode: none;
        background-color: rgba($color-primary, 0.96);
        transition: background-color 0.3s ease-in-out;
        top: 0;
        content: "";
        position: fixed;
        width: 100vw;
        z-index: 1;
        display: block;
        height: $nav-min-height-small;
        @include breakpoint(large) {
          height: $nav-min-height;
        }
      }
      .hamburger-container .hamburger-inner, .hamburger-container .hamburger-inner:after, .hamburger-container .hamburger-inner:before {
        background-color: $color-white;
      }
    }
  }

  // NAV ALIGNMENT
  .nav-wrapper-verticalcentered--streched {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-wrapper-verticalcentered--middle  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // SOCIAL MEDIA NAVIGATION
  .social-media-navigation {
    @extend %social-media-navigation !optional;
    ul {
      margin: 0;
      list-style: none;
      li {
        a {
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}
// Headroom END

// Hamburger
.hamburger-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  .hamburger {
    padding: 0;
    margin: 0;
    &:focus{
      outline: unset;
    }
    &-box {
      width: $hamburger-layer-width1;
      height: $hamburger-layer-width1;
    }
    &-inner {
      width: 20px;
      right: 0;
    }
    &-inner:before {
      right: 0;
    }
    &-inner:after {
      width: 28px;
      right: 0;
    }
    &-inner,
    &-inner:after,
    &-inner:before {
      background-color: $color-black;
    }
    &--collapse {
      .hamburger-inner {
        width: 40px;
      }
    }
    &.is-active {
      .hamburger-inner {
        &, &:before, &:after {
          background-color: $color-white;
        }
      }
    }
  }
}
// Hammburger END


// HEADER STYLE 2
.page-template-page-header-2 {
  .videosize--vh,
  .rocketpager-map .mapsize--vh,
  .slides.height-vh,
  .slick-track.height-vh {
    height: calc(100vh - #{$nav-min-height-small});
    @include breakpoint(large) {
      height: calc(100vh - (#{$nav-min-height} + 45px));
    }
  }
}

// HEADER STYLE 3
.header.header--style3 {
  .header-navigation-wrapper {
    .logo-wrapper {
      animation-delay: 0.5s;
      .logo img, .logo svg{
        @include breakpoint(large) {
          height: $nav-min-height-small;
          margin: calc(#{$nav-min-height-small} / 2);
        }
      }
    }
    .main-navigation {
      position: relative;
      height: $nav-min-height-small;
      li.menu-item-has-children > ul.sub-menu {
        top: $nav-min-height-small;
      }
    }
    .nav-wrapper-verticalcentered--middle {
      @include breakpoint(medium down) {
      justify-content: flex-start;
        &:last-child {
          justify-content: flex-end;
        }
      }
    }
  }
  .headroom--not-top {
    &:after {
      @include breakpoint(large) {
        height: 100px;
      }
    }
    .nav-wrapper-verticalcentered--middle {
      justify-content: space-between!important;
    }
    .logo.sticky {
      margin-right: 30px;
      img, svg {
        height: $logo-height;
      }
    }
  }
}
.page-template-page-header-3 {
  .videosize--vh,
  .rocketpager-map .mapsize--vh,
  .slides.height-vh,
  .slick-track.height-vh {
    height: calc(100vh - #{$nav-min-height-small});
    @include breakpoint(large) {
      height: calc(100vh - (3 * #{$nav-min-height-small}));
    }
  }
}

// HEADER STYLE 4
.header.header--style4  {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  .header-navigation-wrapper {
    > .grid-container {
      background-color: $color-white;
      border-left: 1px solid $color-grey-light;
      border-right: 1px solid $color-grey-light;
      border-bottom: 1px solid $color-grey-light;
    }
    @include breakpoint(large) {
      .logo-wrapper .logo {
        img, svg {
          height: 35px;
          margin-left: 17.5px;
        }
      }
    }
  }
  .header-navigation-wrapper.headroom--not-top {
    > .grid-container {
      background-color: inherit;
      border-left: inherit;
      border-right: inherit;
      border-bottom: inherit;
    }
}
}
.page-template-page-header-4 .main {
  padding-top: $nav-min-height-small;
  @include breakpoint(large) {
    padding-top: $nav-min-height;
  }
  > .rocketpager-hero-slider:first-child {
    @include breakpoint(large) {
      margin-top: -$nav-min-height!important;
    }
  }
  .videosize--vh,
  .rocketpager-map .mapsize--vh,
  .slides.height-vh,
  .slick-track.height-vh {
    height: calc(100vh - #{$nav-min-height-small});
    @include breakpoint(large) {
      height: 100vh;
    }
  }
}

// HEADER STYLE 5
.header.header--style5 {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  .header-navigation-wrapper {
    .main-navigation > li > a {
      position: relative;
    }
    // Dot appears on hover
    .main-navigation > li > a:after {
      position: absolute;
      bottom: 0;
      content: '';
      width: 5px;
      height: 5px;
      background-color: $color-primary;
      border-radius: 50%;
      left: calc(50% - 2.5px);
      bottom: -5px;
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
    .main-navigation > li.pll-parent-menu-item > a:after {
      left: -1.5px;
    }
    .main-navigation > li:hover > a:after {
      opacity: 1;
    }
    &.headroom--not-top .main-navigation > li > a:after{
      background-color: $color-black;
    }
    // Dot appears on hover END
    .main-navigation > li.menu-item-has-children > ul.sub-menu {
      border-top: 1px solid $color-grey-light;
    }
    &.headroom--not-top .main-navigation > li.menu-item-has-children > ul.sub-menu{
      border-top: none;
    }
  }
}
.page-template-page-header-5 {
  .main {
    > .wp-block-group:first-child {
      padding-top: $nav-min-height-small;
      @include breakpoint(large) {
        padding-top: $nav-min-height;
      }
    }
  }
  .videosize--vh,
  .rocketpager-map .mapsize--vh,
  .slides.height-vh,
  .slick-track.height-vh {
    height: 100vh;
  }
  .rocketpager-hero-slider .text-box {
    padding-top: $nav-min-height-small;
    @include breakpoint(large) {
      padding-top: $nav-min-height;
    }
  }
}