// VARIABLES
$mm-button-size: 45px;
$mm-button-gap: 20px;

// GLOBAL - Width
// Auskommentrieren für default-Wert 80
.mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mm-slideout {
  -webkit-transform: translate3d(-85vw,0,0);
  transform: translate3d(-85vw,0,0);
}
.mm-menu_offcanvas {
  width: 85%;
  max-width: inherit;
}
.mm-wrapper_opened {
  .mburger {
    margin: 0 -15px 0 0;
  }
}
// Auskommentrieren für default-Wert 80 END

// HEADER
.mm-navbar_size-3 {
  height: $nav-min-height-small;
}
.mm-menu_navbar_top-3 .mm-panels {
  top: $nav-min-height-small;
}
.wpmm-header-image {
  background-position-x: left;
  top: 10px;
  bottom: 10px;
}

// CONTENT
.mm-listitem_vertical>.mm-panel {
  padding: 0;
}
.mm-listitem:after {
  left: 0;
}
.mm-listitem__btn {
  padding-right: $mm-button-size;
  margin-right: 0;
  position: relative;
}
a.mm-btn.mm-btn_next.mm-listitem__btn {
  height: 50px;
}
.mm-listitem.mm-listitem_vertical.mm-listitem_opened .mm-panel {
  border-top: 1px solid rgba($color-font, 0.1);
}
.mm-listitem_selected>.mm-listitem__text {
  color: $color-primary!important;
}

// BOTTOM
.mm-navbars_bottom {
  bottom: $mm-button-gap;
  right: 0;
  left: inherit;
}


// LANGUAGE SWITCHER LABEL MIT ICON AUSTAUSCHEN
// FUNKTIONIERT NUR, WENN LANGUAGE-SWITCHER DAS LETZTE <li> DES MENUS IST
.mm-navbars_top + .mm-panels > .mm-panel > ul.mm-listview > li {
  &:last-child {
    position: relative;
    &:before {
      content: '\F0AC';
      position: absolute;
      top: 15px;
      left: 20px;
      color: inherit;
      @extend %fontawesome-icons-style-pro !optional;
      font-size: 20px;
    }
    > a {
      color: transparent;
    }
    &.mm-listitem_selected {
      > a {
        color: transparent!important;
      }
      &:before {
        color: $color-primary;
      }
    }
  }
}

// SOCIAL MEDIA CTA
ul.mobile-sticky-cta {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  list-style-type: none;
  padding-bottom: 0;
  li {
    padding: 10px;
    width: $mm-button-size;
    height: $mm-button-size;
    background-color: $color-primary;
    margin-top: 10px;
    &:last-child {
      margin-top: 0;
    }
    a {
      color: $color-white!important;
    }
  }
}