/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-rocket-wrapper {
	// background-color: #21759b;
	// color: #fff;
	// padding: 2px;
}

$grid-color: rgba(239, 68, 68, 1); // #ef4444 in rgba format
$grid-line-count: 12;
$grid-gap-color: rgba(52, 144, 220, 0.5); // #3490dc in rgba format

// .show-grid {
// 	$background-properties: (
// 	);

// @for $i from 1 through $grid-line-count {
// 	$position: percentage($i / $grid-line-count);

// 	$background-properties: append($background-properties,
// 			linear-gradient($grid-color, $grid-color) $position 1px/1px,
// 			comma);
// }

// background: $background-properties;
// background-repeat: no-repeat;
// }