.rocketpager-audio-image-box {
  .cell {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: $color-white;
    margin-bottom: 15px;
    @include breakpoint(medium) {
      margin-bottom: 25px;
    }
    .bg-image {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      @include breakpoint(small only) {
        padding-top: calc((100% / 16) * 9);
      }
      @include breakpoint(medium) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .text-wrapper {
      padding: 15px 15px 0;
      @include breakpoint(large) {
        padding: 30px 30px 0;
      }

      p {
        color: $color-white;
      }

      cite {
        color: $color-white;
      }

      blockquote {
        padding: rem-calc(10px) 0 0 rem-calc(20px);
        margin-bottom: rem-calc(15px);
        @include breakpoint(large) {
          margin-bottom: rem-calc(25px);
        }

        p {
          margin-bottom: 0;
        }
      }
    }

    .audio-wrapper {
      margin-top: auto;
      margin-bottom: 0;
      padding: 0 15px 15px;
      color: $color-primary;
      @include breakpoint(large) {
        padding: 0 30px 30px;
      }

      audio {
        filter: sepia(0) saturate(70%) grayscale(1) contrast(99%) invert(0);
        height: 35px;
        width: 100%;
      }
    }
  }
}
