.rocketpager-news-list {
    @extend %rocketpager-text-image-list !optional;
    .cell{
        &:hover {
            a, .linklist-wrapper ul li:before {
                color: $color-font;
            }
            img {
                transform: scale(1.1);
            }
        }
    }
    h3 {
        margin-bottom: 0;
    }
    .meta-wrapper {
        display: flex;
        padding: 10px 15px;
        @include breakpoint(medium) {
            padding: 10px 20px;
        }
        @include breakpoint(large) {
            padding: 10px 30px;
        }
        // border: 1px solid $color-grey-light;
        background-color: $color-grey-lighter;
        i {
            width: 20px;
        }
        span {
            display: block;
            margin-right: 20px;
            &:last-child {
                margin-bottom: 0;
                margin-left: 0;
            }
        }
    }
    .entry-category {
        margin-bottom: 15px;
        display: block;
    }
    .image-wrapper {
        overflow: hidden;
        img {
            transition: $trans-t;
        }
    }
    .text-wrapper {
        margin-top: rem-calc(10px);
        padding-bottom: 0!important;
        p {
            @extend %font-size-teaser !optional;
        }
        .more-link {
            display: none;
        }
    }
    .linklist-wrapper {
        ul {
            li {
                font-size: $fontSizeSmall-2;
                padding-left: 20px;
            }
        }
    }
}
.bg-bright .rocketpager-news-list .meta-wrapper {
    background-image: linear-gradient(to right, $color-grey-lighter, $color-white);

}