.rocketpager-iconbox {
    .icon-wrapper {
        display: block;
        width: 190px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        @include breakpoint(medium) {
            margin-bottom: 30px;
        }
        @include breakpoint(medium) {
            margin-bottom: 40px;
        }
        &.rounded-bg {
            border-radius: 50%;
            background-color: $color-white;
        }
        &.image {
            padding: 40px;
        }
    }
    h3 {
        margin-bottom: 60px;
        @include breakpoint(large) {
            margin-bottom: 0;
        }
    }
    img {
        transition: transform 0.3s ease-in-out;
        max-height: 110px;
        margin-bottom: 0;
        width: 100%;
        height: auto;
    }
    a {
        &:hover {
            text-decoration: none;
            img {
                transform: scale(1.1);
            }
        }
    }
    .cell:last-child h3 {
        @include breakpoint(medium down) {
            margin-bottom: 0;
        }
    }
}