// Die CSS-Klasse rocketpager-videoelement braucht es nicht, damit es modular verwendbar ist
.video-wrapper {
    position: relative;
    overflow: hidden;
}
.videosize {
    &--small {
        @extend %headerimage-size-small !optional;
        @include breakpoint(small down) {
            height: inherit
        }
    }
    &--medium {
        @extend %headerimage-size-medium !optional;
        @include breakpoint(small down) {
            height: inherit
        }
    }
    &--vh {
        @extend %headerimage-size-vh !optional;
    }
    &--16x9 {
    }
    &--small, &--medium, &--vh {
        .wp-block-video, /*.wp-block-embed-youtube*/ {
            position: absolute;
            width: calc(100vh * (1000 / 562));
            height: calc(100vw * (562 / 1000));
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @include breakpoint(medium) {
            video, .wp-block-embed__wrapper {
                position: absolute;
                height: 100%;
                width: 100%;
                @include breakpoint(small only) {
                    margin-bottom: 20px;
                }
            }
        }
    }
    &--small, &--medium {
        @include breakpoint(small down) {
            .wp-block-video{
                position: inherit;
                width: inherit;
                height: inherit;
                min-width: inherit;
                min-height: inherit;
                top: inherit;
                left: inherit;
                transform: inherit;
            }
        }
    }
}
.rocketpager-videoelement figure {
    margin: 0;
}