$padding-gutter-small: 10px;
$padding-gutter-medium: 20px;
$padding-gutter-large: 25px;

.rocketpager-carousel-header{
    margin-top: 0!important;
    position: relative;
    .grid-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .text-box--inner{
        padding: $padding-gutter-small;
        @include breakpoint(medium) {
            padding: $padding-gutter-medium;
        }
        @include breakpoint(large) {
            padding: $padding-gutter-large;
        }
        h3 {
            margin-bottom: 0;
        }
    }
    .logo-wrapper {
        position: relative;
    }
    .logo-wrapper--inner {
        position: absolute;
        top: $padding-gutter-small;
        left: $padding-gutter-small;
        right: $padding-gutter-small;
        bottom: $padding-gutter-small;
        @include breakpoint(medium) {
            top: $padding-gutter-medium;
            left: $padding-gutter-medium;
            right: $padding-gutter-medium;
            bottom: $padding-gutter-medium;
        }
        @include breakpoint(large) {
            top: $padding-gutter-large;
            left: $padding-gutter-large;
            right: $padding-gutter-large;
            bottom: $padding-gutter-large;
        }
    }
    .text-box--inner {
        background-color: rgba($color-white, 0.8);
        position: relative;
    }
    .mixed-blend-mode{
        position: relative;
        height: 100%;
        &:after {
            background-color: $color-primary;
            mix-blend-mode: multiply;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
        }
    }
    .image-container {
        overflow: hidden;
        position: relative;
        .image-container-textbox {
            background-color: rgba($color-black, 0.8);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 30px;
            transform: translateY(110%);
            transition: all .3s ease-in;
            padding: 20px;
            @include breakpoint(medium) {
                padding: 25px;
            }
            h3, p, a, ul li {
                color: $color-white;
            }
            h3 {
                margin-bottom: 0;
            }
            p {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .wp-block-buttons {
                margin-bottom: 0;
                margin-top: 10px;
                .wp-block-button {
                    margin-bottom: 0;
                    .wp-block-button__link {
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
        img {
            @include breakpoint(small only) {
                max-height: calc(100vh - #{$nav-min-height-small});
                height: 100%;
                width: auto;
            }
        }
        &:hover .image-container-textbox{
            transform: translateY(0);
        }

    }
    // Slider-Settings
    @include breakpoint(small only) {
        .slick-prev {
            left: 10px;
        }
        .slick-next {
            right: 10px;
        }
        .slick-prev, .slick-next {
            background: $color-grey-lighter;
        }
    }
}