.rocketpager-content-slider {
    figcaption {
        @extend %font-size-paragraph-has-small-font-size !optional;
        color: $color-font;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    &.content-slider {
        .slick-prev,
        .slick-next {
            background-color: $color-white;
            transition: opacity .3s ease-in-out;
            opacity: 0;
        }
        &:hover {
            .slick-prev,
            .slick-next {
            opacity: 1;
            }
        }
    }
}