
.rocketpager-text-image-box {
    .cell {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 15px;
        @include breakpoint(medium) {
            margin-bottom: 25px;
        }
        &.bg-white {
            ul li, p {
                color: $color-font;
            }
        }
        &.bg-primary {
            ul li a, .linklist-wrapper ul li:before {
                color: $color-white;
            }
        }
        &.bg-black {
            ul li a:hover, .linklist-wrapper ul li:hover:before {
                color: $color-white;
            }
        }
        img {
            width: 100%;
        }
        .bg-image {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            @include breakpoint(small only) {
                padding-top: calc((100% / 16) * 9);
            }
            @include breakpoint(medium) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .text-wrapper {
            padding: 30px;
        }
        .linklist-wrapper {
            margin-top: auto;
            margin-bottom: 0;
            padding: 0 30px;
            color: $color-primary;
            a {
                color: $color-primary;
                &:hover {
                    color: $color-font;
                }
            }
            ul li {
                &:before {
                    top: 1px;
                    color: $color-primary;
                }
                &:hover {
                    &:before {
                        color: $color-font;
                    }
                }
            }
        }
    }
    .reverse {
        flex-direction: row-reverse;
    }
    // Stil - Bild versetzt
    .offset {
        @include breakpoint(medium) {
            margin-top: calc(2 * 25px);
        }
        @include breakpoint(large) {
            margin-top: calc(2 * 50px);
        }
        .bg-image, picture {
            @include breakpoint(medium) {
                z-index: 1;
                top: -25px;
                bottom: 25px;
                right: -50px;
                left: 0;
            }
            @include breakpoint(large) {
                top: -50px;
                bottom: 50px;
                right: -70px;
            }
        }
        .text-wrapper, .linklist-wrapper {
            @include breakpoint(medium) {
                padding: 15px 15px 15px 45px;
            }
            @include breakpoint(large) {
                padding: 30px 30px 30px 90px;
            }
        }
        &.reverse {
            .bg-image {
                @include breakpoint(medium) {
                    left: -50px;
                    right: 0;
                }
                @include breakpoint(large) {
                    left: -70px;
                }
            }
            .text-wrapper, .linklist-wrapper {
                @include breakpoint(medium) {
                    padding: 15px 45px 15px 15px;
                }
                @include breakpoint(large) {
                    padding: 30px 90px 30px 30px;
                }
            }
        }
    }
}