// Die CSS-Klasse rocketpager-videoelement braucht es nicht, damit es modular verwendbar ist
.video-wrapper {
    position: relative;
    overflow: hidden;
}
.videosize {
    &--small {
        @extend %headerimage-size-small !optional;
        @include breakpoint(small down) {
            height: inherit
        }
    }
    &--medium {
        @extend %headerimage-size-medium !optional;
        @include breakpoint(small down) {
            height: inherit
        }
    }
    &--vh {
        @extend %headerimage-size-vh !optional;
    }
    &--16x9, &--16-9,
    &--4x3, &--4-3,
    &--1x1, &--1-1, &--square {
        video{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .wp-block-video::before,
        .video-lightbox-preview::before{
            content: '';
            display: block;
            padding-top: 56.25%;
            background-color: black;
        }
    }

    &--4x3, &--4-3 {
        .wp-block-video::before,
        .video-lightbox-preview::before{
            padding-top: 75%;
        }
    }

    &--1x1, &--1-1,&--square {
        .wp-block-video::before,
        .video-lightbox-preview::before{
            padding-top: 100%;
        }
    }
    &--small, &--medium, &--vh {
        .wp-block-video, /*.wp-block-embed-youtube*/ {
            position: absolute;
            width: calc(100vh * (1000 / 562));
            height: calc(100vw * (562 / 1000));
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @include breakpoint(medium) {
            video, .wp-block-embed__wrapper {
                position: absolute;
                height: 100%;
                width: 100%;
                @include breakpoint(small only) {
                    margin-bottom: 20px;
                }
            }
        }
    }
    &--small, &--medium {
        @include breakpoint(small down) {
            .wp-block-video{
                position: inherit;
                width: inherit;
                height: inherit;
                min-width: inherit;
                min-height: inherit;
                top: inherit;
                left: inherit;
                transform: inherit;
            }
        }
    }
}
div[class^="rocketpager"] figure {
    margin: 0;

    .control-container{
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        .play{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            z-index: 5;
            @include fluid-type($font-min-vw, $font-max-vw, 16px, 36px);
            color: $color-white;
            transition: $trans-t;
            i {
                transition: font-weight 0.3s ease-in-out;
                font-size: 3em;
                @include breakpoint(medium){
                    font-size: 2.5em;
                }
                @include breakpoint(large){
                    font-size: 2em;
                }
            }
        }
        a.play:hover{
            transform: scale(1.1);
            i {
                font-weight: 600;
            }
        }
    }

    &.wp-block-embed-youtube.has-Custom-PlayButton .control-container{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }

    &.video-lightbox-wrapper{
        > *{
            transition: $trans-a;
        }

        &:hover > *{
            transform: scale(1.05);
            .play i {
                font-weight: 600;
            }
        }
    }
}