.rocketpager-projects {
    .list-projects {
        margin:0px;
        list-style:none;
        position: relative;
        z-index:20;
        display:flex;
        flex-wrap:wrap;
        padding:0;
        transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;       
        li {
            width:100%;
            @include breakpoint(medium) {
                width:50%;
            }
            @include breakpoint(large) {
                width:calc(100% / 3);
            }
        }      
        &.two-columns {
            li {
                width:100%;
                @include breakpoint(medium) {
                    width:50%;
                }
            }
        }
        &.three-columns {
            li {
                width:100%;
                @include breakpoint(medium) {
                    width:50%;
                }
                @include breakpoint(large) {
                    width:calc(100% / 3);
                }
            }
        }
        &.four-columns {
            li {
                width:100%;
                @include breakpoint(medium) {
                    width:50%;
                }
                @include breakpoint(large) {
                    width:calc(100% / 4);
                }
            }
        }
    }
    .project-item {
        padding-left: 0;
        margin-bottom: 0;
        &:before {
            display: none;
        }
        a {
            display:block;
            position: relative;
            overflow:hidden;
            color:$color-white;
            text-decoration:none;
            &:before {
                content:'';
                display:block;
                padding-bottom:75%;
            }
            .overlay {
                position: absolute;
                content:'';
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
            &:not(:hover) {
                .project-name, .project-intro, .project-type {
                    @include breakpoint(large) {
                        color:$color-white!important;
                    }
                }
            }
            .inner {
                position: absolute;
                bottom:40%; left:40px; right:40px;
                z-index:3;
                transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
                @include breakpoint(medium) {
                    left:3vw; right:3vw;
                }
                @include breakpoint(large only) {
                    bottom:60%;
                }
                @include breakpoint(xxxlarge) {
                    bottom:25%;
                }
            }
            .project-type {
                display:block;
                font-family: $font-family-1;
                margin-bottom:10px;
                color: rgba($color-white, 0.8);
                transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
            }
            .project-name, .project-intro {
                line-height:1;
                font-family:$font-family-2;
                margin:0px;
                max-width:80%;
                transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
            }
            .project-name {
                margin-bottom:10px;
            }
            .project-intro {
                position: absolute;
                left:0;
                top:100%;
                @extend %font-size-heading-5 !optional;
                @include breakpoint(large) {
                    opacity:0;
                    transform: translateY(30%);
                    transition: color 400ms cubic-bezier(0.7, 0, 0.3, 1), transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
                }
            }
            .project-color {
                position: absolute;
                top:0; left:0; right:0; bottom:0;
                z-index:2;
                transform: translateY(120%) skewY(10deg);
                transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
            }
            .project-visuel {
                position: absolute;
                top:0; left:0; right:0; bottom:0;
                z-index:1;
                background-size:cover;
                background-position:center center;
                background-repeat:no-repeat;
                // opacity:0;
                transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 800ms cubic-bezier(0.7, 0, 0.3, 1);
                &.lazyloaded{
                    opacity:1;&+.loader{display:none;
                    }
                }
            }
            &:hover {
                .project-color {
                    transform: translateY(0%) skewY(0deg);
                    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
                }
                .project-visuel {
                    transform: translateY(-10%);
                    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
                }
                .project-intro {
                    @include breakpoint(large) {
                        transform: translateY(0%);
                        opacity:1;
                        transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
                    }
                }
            }
        }
    }
    
}