// OBJECT-FILL IMAGES
@mixin bg-object-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-out;
}
@mixin bg-object-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .bg-object--cover {
      object-fit: cover;
      @include bg-object-container;
    }
    .bg-object--contain {
      object-fit: contain;
      object-position: center center;
      @include bg-object-container;
    }
    .bg-object-position-tl {
      object-position: top left;
    }
    .bg-object-position-tc {
      object-position: top center;
    }
    .bg-object-position-tr {
      object-position: top right;
    }
    .bg-object-position-cl {
      object-position: center left;
    }
    .bg-object-position-cc {
      object-position: center center;
    }
    .bg-object-position-cr {
      object-position: center right;
    }
    .bg-object-position-bl {
      object-position: bottom left;
    }
    .bg-object-position-bc {
      object-position: bottom center;
    }
    .bg-object-position-br {
      object-position: bottom right;
    }
  }
}

// GUTENBERG ICON LIST
@mixin icon-list {
  margin-left: 1em;
  > li {
    padding-left: 5px;
    &:hover {
      &::marker {
        color: $color-font;
      }
    }
    &::marker {
      color: $color-primary;
      transition: color 0.2s ease-out;
      font-family: "Font Awesome 5 Pro";
      @extend %fontawesome-icons-style-pro !optional;
    }
  }
  @include set-icon-classes;
}

@mixin set-icon-classes {
  &.is-style-liststyle-icon--check {
    &:before,
    > li::marker {
      content: $icon-check;
    }
  }
  &.is-style-liststyle-icon--check-circle {
    &:before,
    > li::marker {
      content: $icon-check-circle;
    }
  }
  &.is-style-liststyle-icon--arrow-right {
    &:before,
    > li::marker {
      content: $icon-arrow-right;
    }
  }
  &.is-style-liststyle-icon--long-arrow-right {
    &:before,
    > li::marker {
      content: $icon-long-arrow-right;
    }
  }
  &.is-style-liststyle-icon--dot-circle {
    &:before,
    > li::marker {
      content: $icon-dot-circle;
    }
  }
  &.is-style-liststyle-icon--external-link {
    &:before,
    > li::marker {
      content: $icon-external-link;
    }
  }
  &.is-style-liststyle-icon--angle-right {
    &:before,
    > li::marker {
      content: $icon-angle-right;
    }
  }
  &.is-style-liststyle-icon--file-pdf {
    &:before,
    > li::marker {
      content: $icon-file-pdf;
    }
  }
  &.is-style-liststyle-icon--download {
    &:before,
    > li::marker {
      content: $icon-download;
    }
  }
  &.is-style-liststyle-icon--star {
    &:before,
    > li::marker {
      content: $icon-star;
    }
  }
}
// ICON-LIST
.wp-block-group {
  ul {
    @include icon-list;
    &:before {
      display: none;
    }
  }
}

// Icon in Navigation
@mixin navIcon {
  &:hover {
    &:before {
      cursor: pointer;
      color: $color-primary;
    }
  }
  &:before {
    position: absolute;
    left: 10px;
    color: $color-font;
    @extend %fontawesome-icons-style-pro !optional;
    font-size: $language-nav-icon-size;
    margin-top: -5px;
  }
  > a {
    &,
    &:hover {
      opacity: 0;
    }
  }
  position: relative;
  > a {
    display: block;
    width: 45px;
    height: 100%;
  }
}
