.home {
    .header {
        position: absolute;
        color: $color-font;
        background-color: transparent;
        .header-navigation-wrapper {
            .main-navigation {
                & > li {
                    a {
                        color: $color-white;
                        &:hover {
                            color: $color-font;
                        }
                    }
                    &.pll-parent-menu-item {
                        > a {
                            &:hover {
                                color: transparent;
                            }
                        }
                        &:before {
                            color: $color-white;
                        }
                    }
                    &.current_page_item {
                        a {
                            color: $color-font;
                        }
                    }
                    a.underline-from-center:after {
                        border-bottom: 3px solid $color-font;
                    }
                    .is-dropdown-submenu li a:hover {
                        color: $color-font;
                    }
                }
            }
            .main-navigation-wrapper .menu-links-wrapper .menu-links .menu-right-wrapper {
                i.fal, i.fas {
                    color: $color-white;
                }
            }
            .nav-icons {
                a{
                color: $color-white;
                    &:hover {
                        color: $color-font;
                    }
                }
            }
            &:after {
                mix-blend-mode: multiply;
                background-color: $color-primary;
            }
            &.headroom--top {
                .main-navigation li > ul.sub-menu li {
                    background: $color-white;
                    a {
                        color: $color-font;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
                .main-navigation > li.pll-parent-menu-item:hover:before {
                    color: $color-font;
                }
            }
            &.headroom--not-top {
                .main-navigation {
                    > li a {
                        color: $color-white; 
                        &:hover {
                            color: $color-primary;
                        }
                        &.underline-from-center:after {
                            border-bottom: 3px solid $color-primary;
                        }
                    }
                    > li.current_page_item a {
                        color: $color-primary;
                    }
                    > li.pll-parent-menu-item > a {
                        &, &:hover {
                            color: transparent;
                        }
                    }
                }
                .main-navigation-wrapper .menu-links-wrapper .menu-links .menu-right-wrapper {
                    i.fal, i.fas {
                        color: $color-white;
                    }
                }
                &:after {
                  background-color: rgba($color-font, 0.8);
                }
                .nav-icons {
                    a{
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
    .mburger b {
        background: $color-white;
    }
    &.page-id-181 {
        // font-style italic not working in russian language
        @include breakpoint(medium down) {
            h1, h2, h3, .wp-block-button__link, .wpcf7-form .wpcf7-submit {
                font-style: normal;
            }
        }
    }
}
  