.maintenance-container {
  background-color: $color-grey-lighter;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 $gap-element-mobile 0;
    margin-bottom: $gap-element-mobile;

    img {
      width: 100%;
    }
  }
  .text-wrapper {
    background-color: $color-white;
    margin: 0 auto !important;
    padding: $gap-element-tablet $gap-element-mobile;

    h1 {
      margin-bottom: 10px;
    }
    h3 {
      color: $color-font;
    }
  }
}
