$mb-button-size: 60px;
$mb-button-color: $color-primary;
$mb-bar-width: 0.6;
$mb-bar-height: 3px;
$mb-bar-spacing: 8px;
$mb-animate-timeout: 0.4s;

.mburger {
    background: 0 0;
    border: none;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: $mb-button-size;
    padding: 0 0 0 $mb-button-size;
    margin: 0;
    line-height: $mb-button-size;
    vertical-align: middle;
    appearance: none;
    outline: 0;
    cursor: pointer;
    float: right;
}

.mburger:focus {
    outline: 0;
}

.mburger b {
    display: block;
    position: absolute;
    left: calc(#{$mb-button-size} * ((1 - #{$mb-bar-width})/ 2));
    width: calc(#{$mb-button-size} * #{$mb-bar-width});
    height: $mb-bar-height;
    border-radius: 2px;
    background: $mb-button-color;
    color: inherit;
    opacity: 1;
}

.mburger b:nth-of-type(1) {
    bottom: calc(50% + #{$mb-bar-spacing});
    transition: bottom .2s ease, transform .2s ease, width .2s ease;
}

.mburger b:nth-of-type(2) {
    top: calc(50% - (#{$mb-bar-height}/ 2));
    transition: opacity .2s ease;
}

.mburger b:nth-of-type(3) {
    top: calc(50% + #{$mb-bar-spacing});
    transition: top .2s ease, transform .2s ease, width .2s ease;
}

.mm-wrapper_opened .mburger b:nth-of-type(1) {
    bottom: calc(50% - (#{$mb-bar-height}/ 2));
    transform: rotate(45deg);
}

.mm-wrapper_opened .mburger b:nth-of-type(2) {
    opacity: 0;
}

.mm-wrapper_opened .mburger b:nth-of-type(3) {
    top: calc(50% - (#{$mb-bar-height}/ 2));
    transform: rotate(-45deg);
}

.mburger--collapse b:nth-of-type(1) {
    transition: bottom .2s ease, margin .2s ease, transform .2s ease;
    transition-delay: .2s, 0s, 0s;
}

.mburger--collapse b:nth-of-type(2) {
    transition: top .2s ease, opacity 0s ease;
    transition-delay: .3s, .3s;
}

.mburger--collapse b:nth-of-type(3) {
    transition: top .2s ease, transform .2s ease;
}

.mm-wrapper_opened .mburger--collapse b:nth-of-type(1) {
    bottom: calc(50% - #{$mb-bar-spacing} - #{$mb-bar-height});
    margin-bottom: calc(#{$mb-bar-spacing} + (#{$mb-bar-height}/ 2));
    transform: rotate(45deg);
    transition-delay: calc(#{$mb-animate-timeout} + .1s), calc(#{$mb-animate-timeout} + .3s), calc(#{$mb-animate-timeout} + .3s)N
}

.mm-wrapper_opened .mburger--collapse b:nth-of-type(2) {
    top: calc(50% + #{$mb-bar-spacing});
    opacity: 0;
    transition-delay: calc(#{$mb-animate-timeout} + 0s), calc(#{$mb-animate-timeout} + .2s)
}

.mm-wrapper_opened .mburger--collapse b:nth-of-type(3) {
    top: calc(50% - (#{$mb-bar-height}/ 2));
    transform: rotate(-45deg);
    transition-delay: calc(#{$mb-animate-timeout} + .3s), calc(#{$mb-animate-timeout} + .3s);
}

.mburger--spin b:nth-of-type(1) {
    transition-delay: .2s, 0s;
}

.mburger--spin b:nth-of-type(2) {
    transition-duration: 0s;
    transition-delay: .2s;
}

.mburger--spin b:nth-of-type(3) {
    transition-delay: .2s, 0s;
}

.mm-wrapper_opened .mburger--spin b:nth-of-type(1) {
    transform: rotate(135deg);
    transition-delay: calc(#{$mb-animate-timeout} + 0s), calc(#{$mb-animate-timeout} + .2s);
}

.mm-wrapper_opened .mburger--spin b:nth-of-type(2) {
    transition-delay: calc(#{$mb-animate-timeout} + 0s);
}

.mm-wrapper_opened .mburger--spin b:nth-of-type(3) {
    transform: rotate(225deg);
    transition-delay: calc(#{$mb-animate-timeout} + 0s), calc(#{$mb-animate-timeout} + .2s);
}

.mburger--squeeze b:nth-of-type(1) {
    transition-delay: .1s, 0s;
}

.mburger--squeeze b:nth-of-type(2) {
    transition-delay: .1s;
}

.mburger--squeeze b:nth-of-type(3) {
    transition-delay: .1s, 0s;
}

.mm-wrapper_opened .mburger--squeeze b:nth-of-type(1) {
    transition-delay: calc(#{$mb-animate-timeout} + 0s), calc(#{$mb-animate-timeout} + .1s);
}

.mm-wrapper_opened .mburger--squeeze b:nth-of-type(2) {
    transition-delay: calc(#{$mb-animate-timeout} + 0s);
}

.mm-wrapper_opened .mburger--squeeze b:nth-of-type(3) {
    transition-delay: calc(#{$mb-animate-timeout} + 0s), calc(#{$mb-animate-timeout} + .1s);
}

.mburger--tornado b:nth-of-type(1) {
    transition: bottom .2s ease, transform .2s ease;
    transition-delay: .2s;
}

.mburger--tornado b:nth-of-type(2) {
    transition: opacity 0s ease, transform .2s ease;
    transition-delay: .1s, .1s;
}

.mburger--tornado b:nth-of-type(3) {
    transition: top .2s ease, transform .2s ease;
    transition-delay: 0s;
}

.mm-wrapper_opened .mburger--tornado b:nth-of-type(1) {
    transform: rotate(-135deg);
    transition-delay: calc(#{$mb-animate-timeout} + 0s);
}

.mm-wrapper_opened .mburger--tornado b:nth-of-type(2) {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(#{$mb-animate-timeout} + .4s), calc(#{$mb-animate-timeout} + .1s);
}

.mm-wrapper_opened .mburger--tornado b:nth-of-type(3) {
    transform: rotate(-225deg);
    transition-delay: calc(#{$mb-animate-timeout} + .2s);
}

.headroom--not-top {
    .mburger b {
        background: $color-white;
    }
}
