body, :root {
  // COLORS
  // Color - Werte: Standard Palette
  --color-white: #FFF;
  --color-black: #000;
  --color-grey: #808080;
  --color-greydark: #4D4D4D;
  --color-greylight: #DDDDDD;
  --color-pigmentgreen: #27AE60;
  --color-azure: #2F80ED;
  --color-gold: #E2B93B;
  --color-indianred: #EB5757;

  // Color - Werte: Theme
  --color-pakistangreen: #283618;
  --color-darkmossgreen: #606c38;
  --color-tigereye: #BC6C25;
  --color-cornsilk: #fefae0;
  
  // Color - Zuweisung der Variabeln
  --color-primary: var(--color-pakistangreen);
  --color-secondary: var(--color-darkmossgreen);
  --color-tertiary: var(--color-tigereye);
  --color-quaternary: var(--color-cornsilk);

  --color-info: var(--color-azure);
  --color-success: var(--color-pigmentgreen);
  --color-warning: var(--color-gold);
  --color-error: var(--color-indianred);

  // Color - Zuweisung der Variabeln - Typografie
  --color-font: var(--color-black);

  // CONTAINER
  // Container - Werte
  --num-cols: 12;
  --wide-cols: 10;
  --content-cols: 8;

  --num-cols-2: 2;
  --num-cols-4: 4;
  --num-cols-6: 6;
  --num-cols-8: 8;
  --num-cols-10: 10;

  // Container - Berechnungen
  --content--small-size: calc(var(--num-cols-2) / var(--num-cols) * 100vw);
  --content--medium-size: calc(var(--num-cols-4) / var(--num-cols) * 100vw); 
  --content--large-size: calc(var(--num-cols-6) / var(--num-cols) * 100vw);
  --content--xlarge-size: calc(var(--num-cols-8) / var(--num-cols) * 100vw);
  --content--2xlarge-size: calc(var(--num-cols-10) / var(--num-cols) * 100vw);
  
  // Container - Zuweisung der Variabeln
  --content--header-footer-size: var(--content--large-size);
  --content--default-size: var(--content--medium-size);
  --content--wide-size: var(--content--large-size);
  --wp--style--global--content-size: var(--content--default-size);
  --wp--style--global--wide-size: var(--content--wide-size);


  // ABSTÄNDE
  // Abstände - Werte
  --spacing--rp10: 10px;
  --spacing--rp20: 15px;
  --spacing--rp30: 20px;
  --spacing--rp40: 30px;
  --spacing--rp50: 40px;
  --spacing--rp60: 60px;
  --spacing--rp70: 90px;
  --spacing--rp80: 110px;

  // Abstände - Fixe Spacing-Steps Variables - Zuweisung der Variabeln
  --wp--preset--spacing--10:  var(--spacing--rp10);
  --wp--preset--spacing--20:  var(--spacing--rp20);
  --wp--preset--spacing--30:  var(--spacing--rp30);
  --wp--preset--spacing--40:  var(--spacing--rp40);
  --wp--preset--spacing--50:  var(--spacing--rp50);
  --wp--preset--spacing--60:  var(--spacing--rp60);
  --wp--preset--spacing--70:  var(--spacing--rp70);
  --wp--preset--spacing--80:  var(--spacing--rp80);

  // Abstände - Dynamic Spacing-Steps Variables - Berechnungen
  --spacing-responsive--rp20: clamp(var(--spacing--rp10), calc(1.5rem + ((1vw - 7.68px) * 1.025)), var(--spacing--rp20));
  --spacing-responsive--rp30: clamp(var(--spacing--rp20), calc(1.5rem + ((1vw - 7.68px) * 1.5625)), var(--spacing--rp30));
  --spacing-responsive--rp40: clamp(var(--spacing--rp30), calc(1.5rem + ((1vw - 7.68px) * 1.5625)), var(--spacing--rp40));
  --spacing-responsive--rp50: clamp(var(--spacing--rp40), calc(2rem + ((1vw - 7.68px) * 3.125)), var(--spacing--rp50));
  --spacing-responsive--rp60: clamp(var(--spacing--rp40), calc(2rem + ((1vw - 7.68px) * 6.25)), var(--spacing--rp60));
  --spacing-responsive--rp70: clamp(var(--spacing--rp40), calc(2rem + ((1vw - 7.68px) * 9.375)), var(--spacing--rp70));
  --spacing-responsive--rp80: clamp(var(--spacing--rp60), calc(3rem + ((1vw - 7.68px) * 9.375)), var(--spacing--rp80));

  // Abstände - Wordpress Overrides und allgemeine Zuweisung der Variabeln
  --spacing-responsive--gutter: var(--spacing-responsive--rp50); // Regelt den Abstand zwischen den Spalten und den Rändern des Containers
  --wp--style--block-gap: var(--spacing-responsive--gutter);
}
