@layer base {
  :root {
    // rgb, dezimal
    // used in theme.json
    // Color Palettes
    // Defaults - Color Palettes
    --color-white: #FFF;
    --color-black: #000;
    --color-grey: #808080;
    --color-greydark: #4D4D4D;
    --color-greylight: #F2F2F2;

    // Figma - Color Palettes
    --color-castletongreen: #00543C;
    --color-cambridgeblue: #80AA9E;
    --color-darkgreen: #002A1E;
    --color-pigmentgreen: #27AE60;
    --color-yaleblue: #003865;
    --color-airblue: #809CB2;
    --color-oxfordblue: #001C33;
    --color-azure: #2F80ED;
    --color-gold: #E2B93B;
    --color-indianred: #EB5757;


    // Variables - Color Palettes
    --color-primary: var(--color-castletongreen);
    --color-primarydark: var(--color-darkgreen);
    --color-primarylight: var(--color-cambridgeblue);

    --color-secondary: var(--color-yaleblue);
    --color-secondarydark: var(--color-oxfordblue);
    --color-secondarylight: var(--color-airblue);

    --color-info: var(--color-azure);
    --color-success: var(--color-pigmentgreen);
    --color-warning: var(--color-gold);
    --color-error: var(--color-indianred);

    --color-font: var(--color-black);

    --full-height: 100vh;

  }
}

:root {
  --wp-admin-theme-color: var(--color-primary);

}
