<!-- wp:template-part {"slug":"header","theme":"goldor-2026"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group no-results not-found">
	<!-- wp:heading -->
	<h1>Nothing Found</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>It seems we can't find what you're looking for. Perhaps searching can help.</p>
	<!-- /wp:paragraph -->
	<!-- wp:search {"label":"","showLabel":false,"placeholder":"Suche"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"goldor-2026"} /-->
