<!-- wp:template-part {"slug":"header","theme":"goldor-2026"} /-->

<!-- wp:group {"align":"full","className":"section section--entry","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull section section--entry">
	<!-- wp:group {"className":"entry-head","layout":{"type":"default"}} -->
	<div class="wp-block-group entry-head">
		<!-- wp:goldor/entry-breadcrumb /-->
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:goldor/entry-link {"label":"Website öffnen"} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","className":"section section--entry-body","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull section section--entry-body">
	<!-- wp:group {"className":"entry-body","layout":{"type":"default"}} -->
	<div class="wp-block-group entry-body">
		<!-- wp:goldor/back-to-archive /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"goldor-2026"} /-->
