<!-- wp:template-part {"slug":"header","theme":"goldor-2026"} /-->

<!-- wp:group {"align":"full","className":"section section--entry","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull section section--entry">
	<!-- wp:group {"className":"entry-head","layout":{"type":"default"}} -->
	<div class="wp-block-group entry-head">
		<!-- wp:goldor/entry-breadcrumb /-->
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","className":"section magazin","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull section magazin">
	<!-- wp:group {"className":"section__inner","layout":{"type":"default"}} -->
	<div class="wp-block-group section__inner">
		<!-- wp:goldor/magazine-issue /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"newsletter-band","theme":"goldor-2026"} /-->

<!-- wp:template-part {"slug":"footer","theme":"goldor-2026"} /-->
