<!-- wp:template-part {"slug":"header","theme":"goldor-2026"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
	<!-- wp:goldor/reading-time-share /-->
	<!-- wp:post-featured-image /-->
	<!-- wp:post-title /-->
	<!-- wp:group {"className":"entry-meta","layout":{"type":"flex"}} -->
	<div class="wp-block-group entry-meta">
		<!-- wp:post-author /-->
		<!-- wp:post-date /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content /-->
	<!-- wp:goldor/related-posts /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"goldor-2026"} /-->
