/* Section Background */
.bg-bright, .has-bright-background-color {
  background-color: $color-bg-bright;
  color: $color-font;
  p,
  ul li,
  ul li:before,
  .wp-block-group ul li:before,
  ul li a,
  span,
  q,
  .searchform .search-field, .searchform .button,
  .searchform .search-field::placeholder,
  ul[class*="is-style-liststyle-icon--"] > li::marker {
    color: $color-font;
  }
  // Slick Slider
  .slick-prev,
  .slick-next {
    &:before {
      color: $color-font;
    }
  }
  // Separator
  .wp-block-separator {
    border-color: $color-grey-light;
  }
  // Testimonial Slider
  .rocketpager-testimonial-slider {
    .slick-dots li button:before {
      color: $color-white;
      opacity: 1;
    }
    .slick-dots li.slick-active button:before {
      color: $color-black;
      opacity: 1;
    }
  }
  // Search-Form
  .searchform .search-field {
    border-bottom: 1px solid $color-font;
  }
  .searchform .button, .wp-block-button__link  {
    background-color:$color-primary;
    color:$color-white;
    border-color:$color-primary;
  }
  .searchform .button:hover, .wp-block-button__link:hover {
    background-color:$color-white;
    color:$color-primary;
    border-color:$color-white;
  }
}
.bg-white, .has-white-background-color  {
  background-color: $color-white;
  color: $color-primary;
  p,
  p a,
  ul li,
  ul li:before,
  .wp-block-group ul li:before,
  ul li a,
  span,
  q,
  ul[class*="is-style-liststyle-icon--"] > li::marker {
    color: $color-primary;
  }
  p a, a, ul li a, .wp-block-group ul li a {
    text-decoration: none;
    color: $color-primary;
      &:hover {
        color: $color-black;
      }
  }
  // Separator
  .wp-block-separator {
    border-color: $color-primary;
  }
  // Slick Slider
  .slick-prev,
  .slick-next {
    &:before {
      color: $color-primary;
    }
  }
  // Testimonial Slider
  .rocketpager-testimonial-slider {
    .slick-dots li button:before {
      color: $color-primary;
      opacity: 1;
    }
    .slick-dots li.slick-active button:before {
      color: $color-black;
      opacity: 1;
    }
  }
}
.bg-black, .has-black-background-color  {
  background-color: $color-font;
  color: $color-white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a,
  p,
  p a,
  ul li,
  ul li:before,
  .wp-block-group ul li:before,
  ul li a,
  q,
  ul[class*="is-style-liststyle-icon--"] > li::marker {
    color: $color-white;
  }
  p a, a, ul li a, .wp-block-group ul li a {
    color: $color-white;
    text-decoration: none;
    &:hover {
      color: $color-primary;
    }
  }
  // Separator
  .wp-block-separator {
    border-color: $color-white;
  }
  // Slick Slider
  .slick-prev,
  .slick-next {
    &:before {
      color: $color-white;
    }
  }
  // Testimonial Slider
  .rocketpager-testimonial-slider {
    .slick-dots li button:before {
      color: $color-white;
      opacity: 1;
    }
    .slick-dots li.slick-active button:before {
      color: $color-primary;
      opacity: 1;
    }
  }
}
.bg-primary, .has-primary-background-color {
  background-color: $color-primary;
  color: $color-white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a,
  p,
  p a,
  ul li,
  ul li:before,
  .wp-block-group ul li:before,
  ul li a,
  blockquote,
  q,
  ul[class*="is-style-liststyle-icon--"] > li::marker {
    color: $color-white;
  }
  p a, a, ul li a, .wp-block-group ul li a {
    text-decoration: none;
    color: $color-white;
    &:hover {
      color: $color-font;
    }
  }
  // Separator
  .wp-block-separator {
    border-color: $color-white;
  }
  // Slick Slider
  .slick-prev,
  .slick-next {
    &:before {
      color: $color-white;
    }
  }
  // Testimonial Slider
  .rocketpager-testimonial-slider {
    .slick-dots li button:before {
      color: $color-white;
      opacity: 1;
    }
    .slick-dots li.slick-active button:before {
      color: $color-black;
      opacity: 1;
    }
  }
  ::selection {
    background-color: $color-white!important;
    color: $color-primary!important;
  }
  ::-moz-selection {
    background: $color-white!important;
    color: $color-primary!important;
  }
}
.bg-secondary, .has-secondary-background-color {
  background-color: $color-secondary!important;
  color: $color-primary;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: $color-primary;
  }
  p,
  p a,
  ul li,
  ul li:before,
  .wp-block-group ul li:before,
  ul li a,
  blockquote,
  ul[class*="is-style-liststyle-icon--"] > li::marker,
  q {
    color: $color-font;
  }
  p a, a, ul li a, .wp-block-group ul li a {
    text-decoration: none;
    color: $color-font;
    &:hover {
      color: $color-font;
    }
  }
  // Separator
  .wp-block-separator {
    border-color: $color-font;
  }
  // Slick Slider
  .slick-prev,
  .slick-next {
    &:before {
      color: $color-primary;
    }
  }
  // Testimonial Slider
  .rocketpager-testimonial-slider {
    .slick-dots li button:before {
      color: $color-primary;
      opacity: 1;
    }
    .slick-dots li.slick-active button:before {
      color: $color-font;
      opacity: 1;
    }
  }
  ::selection {
    background-color: $color-white!important;
    color: $color-primary!important;
  }
  ::-moz-selection {
    background: $color-white!important;
    color: $color-primary!important;
  }
}
/* Section Background END */