footer{
  .grid-container {
    max-width: $global-width-footer;
  }
  p, ul {
    @extend %font-size-paragraph-footer-font-size !optional;
  }
  ul {
    @extend %list-style-arrow-right !optional;
    &:before {
      color: $color-white;
      top: 1px;
      @include breakpoint(medium) {
        top: 2px;
      }
      @include breakpoint(large) {
        top: 4px;
      }
    }
  }
  .footer-top-wrapper {
    .footer--logo img {
      max-width: 206px;
      margin-bottom: 45px;
      @include breakpoint(large) {
        margin-bottom: 60px;
      }
    }
    .footer--address {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
      i {
        margin-right: 5px;
        font-weight: 300;
      }
    }
    .grid-container > .grid-x > .cell:last-child ul:last-child {
      @include breakpoint(medium dowm) {
        margin-bottom: 0;
      }
    }
    // Abstand zwischen den Elementen
    .footer--address, .social-media-navigation, .widget {
      @include breakpoint(medium dowm) {
        margin-bottom: 40px;
      }
    }
  }
  .footer-bottom-wrapper {
      padding: rem-calc(10px) 0;
      .footer--disclaimer-navigation {
        @extend %list-navigation !optional;
      }
  }
  // Stil 1
  &.footer--style1 {
    .footer-top-wrapper {
      .grid-container > .grid-x > .cell:not(:first-of-type) {
        @include breakpoint(large) {
          margin-top: 117px;
        }
      }
    }
  }
}
