body{

    .buorg-mainmsg, .buorg-moremsg{
        color: $color-font;
    }

    .buorg {
        background-color: $color-white;
        border-bottom: none;
    }

    .buorg-buttons{
        margin-top: 20px;
    }

    #buorgul{
        color: $color-white;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        border-radius: 0;

        &:hover,
        &:focus,
        &:active{
            background-color: transparent;
            color: $color-primary; 
        }
    }
} 