form.protected-post-form{
    @extend %margin-large-b !optional;
    @extend %padding-large-b !optional;

    label.pw-label,
    .pw-wrong p{
        @extend %font-size-paragraph-has-small-font-size !optional;
        margin-bottom: 0.5em;
        + p{
            margin: 0;
        }
    }

    .pw-wrong p{
        color: get-color(alert);
    }

    .pw-field, .pw-submit{
        @include fluid-type($font-min-vw, $font-max-vw, 16px, 20px);
        height: 50px;
        @include breakpoint(medium down){
            height: 40px;
        }
    }

    .pw-submit{
        min-width: 75px;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}