// Defaults
@charset 'utf-8';

@import 'variables';
@import 'settings';
@import 'base/reset';

@include foundation-xy-grid-classes(
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
);

@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// // @include foundation-range-input;
@include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
// // @include foundation-prototype-classes;
@include motion-ui-transitions;
// @include motion-ui-animations;

// Abstracts
@import 'abstracts/front-and-backend';
@import 'abstracts/extend';
@import 'abstracts/gap-margin';
@import 'abstracts/gap-padding';

// Base
@import 'base/fonts';
@import 'base/fontawesome';
@import 'base/typography';

// Components
@import 'components/animations';
@import 'components/buttons';
@import 'components/reveal';
@import 'components/slick-theme';
@import 'components/search';
@import 'components/fixed-cta';
@import 'components/hamburger';
@import 'components/outdatedBrowser';
@import 'components/video';

// Layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/mobile-navigation';
@import 'layout/gutenberg';
@import 'layout/bg-color';
@import 'layout/basic-elements';
@import 'layout/block-library-overrides';

// Genesis Block Elements
@import 'genesis-block-elements/rocketpager-accordion';
@import 'genesis-block-elements/rocketpager-accordion-extended';
@import 'genesis-block-elements/rocketpager-carousel-slider';
@import 'genesis-block-elements/rocketpager-colorbox';
@import 'genesis-block-elements/rocketpager-map';
@import 'genesis-block-elements/rocketpager-hero-slider';
@import 'genesis-block-elements/rocketpager-logolist';
@import 'genesis-block-elements/rocketpager-team';
@import 'genesis-block-elements/rocketpager-testimonial-slider';
@import 'genesis-block-elements/rocketpager-videoelement';
@import 'genesis-block-elements/rocketpager-iconbox';
@import 'genesis-block-elements/rocketpager-socialmedia-profil';
@import 'genesis-block-elements/rocketpager-socialshare-button';
@import 'genesis-block-elements/rocketpager-text-image-box';
@import 'genesis-block-elements/rocketpager-text-image-list';
@import 'genesis-block-elements/rocketpager-news-list';
@import 'genesis-block-elements/rocketpager-contactperson';
@import 'genesis-block-elements/rocketpager-carousel-header';
@import 'genesis-block-elements/rocketpager-content-slider';
@import 'genesis-block-elements/rocketpager-single-animation';
@import 'genesis-block-elements/rocketpager-audio-image-box';
@import 'genesis-block-elements/rocketpager-projects';
@import 'genesis-block-elements/rocketpager-google-maps';

// Pages
// @import "pages/home";
// @import "pages/references";
@import 'pages/maintenance';

// News
@import 'news/news-list';
@import 'news/news-detail';

// Plugins
@import 'plugins/contactform7';
@import 'plugins/gallery';

// WooCommerce
@import 'plugins/woocommerce/woocommerce-extend';
@import 'plugins/woocommerce/woocommerce-list';
@import 'plugins/woocommerce/woocommerce-product-filters';
@import 'plugins/woocommerce/woocommerce-single';
@import 'plugins/woocommerce/woocommerce-cart';
@import 'plugins/woocommerce/woocommerce-cart-collaterals';
@import 'plugins/woocommerce/woocommerce-checkout';
@import 'plugins/woocommerce/woocommerce-thankyou';
@import 'plugins/woocommerce/woocommerce-quickcart';
@import 'plugins/woocommerce/woocommerce-account';
@import 'plugins/woocommerce/woocommerce-login-register';
@import 'plugins/woocommerce/woocommerce-header';
@import 'plugins/woocommerce/woocommerce-search';